version: '3.8'
services:
  server:
    build:
      context: ./Server/mdbx-backend
      dockerfile: Dockerfile
    volumes:
      - ./Server/mdbx-backend:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=development
      - PORT=4000
    depends_on:
      - db

  client:
    build:
      context: ./Client/MyDewbox
      dockerfile: Dockerfile
    volumes:
      - ./Client/MyDewbox:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:4000
    depends_on:
      - server

  db:
    image: mysql:8
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=rootpassword
      - MYSQL_DATABASE=dewbox
      - MYSQL_USER=dewbox
      - MYSQL_PASSWORD=dewboxpass
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
